GraphRAG
.vscode
qdrant_storage
.env
.env
.Env
*.env
pipeline_output
sec_cache
*.csv
input
retrival+eval/Ground_Truth/results_swi
retrival+eval/Ground_Truth/results*
KG_building/relations/**/*.json
__pycache__/
*.pyc
*.pyo
*.pyd
retrival+eval/Ground_Truth/*.csv
retrival+eval/Ground_Truth/*.txt
retrival+eval\retrival_results
uploads