GraphRAG
.vscode
qdrant_storage
.env
.env
.Env
*.env
pipeline_output
sec_cache
peers_sec\HAS_METRIC\__pycache__
*.csv
input
retrival+eval/Ground_Truth/results_swi
retrival+eval/Ground_Truth/results*
KG_building/relations/**/*.json
__pycache__/
*.pyc
*.pyo
*.pyd
retrival+eval/Ground_Truth/*.csv
retrival+eval/Ground_Truth/*.txt
retrival+eval/retrival_results
uploads
KG_building/relations/**/extracted**.json
retrival+eval/Ground_Truth/results_minerals
pipeline_output
*/__pycache__/*
**/results_minerals
peers_sec/HAS_METRIC/.taxonomy_cache.json
frontend/.lovable
frontend
**/**.json